.custom-container {
    position: relative;
    padding-bottom: 200px;
}

.heading1 {
    background-size: cover;
    position: relative;
    height: 180px;
}

.blue-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(21, 51, 70, 0.8);
}

.logo-img {
    /* background-color: red; */
    /* width: 50%; */
    margin: auto;
    z-index: 99;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}

.custom-container {
    width: 100%;
    max-width: 700px;
    margin: auto;
}

.footer {
    position: fixed;
    height: 200px;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 700px;
    margin: auto;
    right: 0;
    background-color: rgba(21, 51, 70, 1);
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 87px 0;
}

.footer p {
    height: 100%;
}

.content-container {
    padding: 50px;
}

.custom-btn {
    height: 50px;
    background-color: rgba(246, 144, 34, 1);
    border-radius: 10px;
    border: 0;
}

.custom-btn:hover {
    background-color: rgb(182, 106, 24) !important;
}
